.card {
	height: 350px;
	width: 250px;
	overflow: hidden;
	margin-top: 20px;
	border: 1px solid #fff;
	cursor: pointer;
	.cardContainer {
		display: flex;
		flex-direction: column;
		padding: 20px;
		.imgContainer {
			img {
				width: 100%;
			}
		}
		.cardInfoContainer {
			color: #282c3f;
			h4 {
				margin: 15px 0;
			}
			.tagsContainer {
				color: #686b78;
				font-size: 13px;
				font-weight: 300;
				letter-spacing: 1px;
			}
			.ratingsContainer{
				display: flex;
				justify-content: space-between;
				margin-top: 20px;
				color: #686b78;
				font-size: 13px;
				font-weight: 300;
				letter-spacing: 1px;
			}
		}
	}
	&:hover {
		border-color: #d3d5df;
		box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
	}
}
